In [4]:
import numpy as np
import pandas as pd

In [5]:
col_names = ['sid','cid','Lat','Lon','Alti',
             'Year','Mon','Day','Hour','Minute',
             'Weigh_Factor','Err_code','Corr_count','Prs_count','Rhu_count',
             'V12001_040','Time_interval_s','Win_s_factor','Win_d_factor','Pre_Factor',
             'Win_s_sensi','Win_d_inclin','Pre_sensor_Corr',
             'Prs','Rhu','Tem','Win_s','Win_d','Pre',
             'PM10_Densty','PM2p5_Densty','PM1_Densty']
robsmissing = -888888.0

filename = './data/CAWN_CHN_PMM_2021031500_g_0300_0300.dat'

# 1、缺测值处理

In [6]:
# method 1
df1 = pd.read_csv(filename,sep='\s+',names=col_names)
df1 = df1.replace([999998.0,999999.0], np.nan)

# method 2
df2 = pd.read_csv(filename,sep='\s+',names=col_names,na_values=[999998.0,999999.0])
df2.head()

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
1,58657,58657.0,NaN,NaN,NaN,2021.0,3.0,14.0,22.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.78,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
3,58657,58657.0,NaN,NaN,NaN,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.62,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN

# 2、pandas中loc和iloc
- loc是location的意思，和iloc中i的意思是指integer，所以它只接受整数作为参数

In [7]:
df_tmp = df2.loc[:,'PM2p5_Densty']
df_tmp.head()

0    70.70
1    39.78
2    29.18
3    48.62
4    29.91
Name: PM2p5_Densty, dtype: float64

In [8]:
df_tmp = df2.iloc[:,-2]
df_tmp.head()

0    70.70
1    39.78
2    29.18
3    48.62
4    29.91
Name: PM2p5_Densty, dtype: float64

# 3、选取所需范围的值
--- 多条件筛选的时候，必须加括号'()'

In [5]:
sel_df = df1[(df1['Lat']>20.0) & (df1['Lat']<40.0) & (df1['Lon']>102.0) & (df1['Lon']<135.0)]
sel_df

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN
5,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.28,NaN
6,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.1
12584,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9
12587,58456,58456.0,30.63,120.52,6.0,2021.0,3.0,15.0,2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.4,35.20,28.7
12589,58458,58458.0,30.53,120.90,4.8,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.2,25.50,21.4
12591,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.8

# 4、保存hdf5文件

In [12]:
sel_df.to_hdf('sel_df.h5', key='data')
pd.read_hdf('./sel_df.h5')
sel_df

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN
5,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.28,NaN
6,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.1
12584,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9
12587,58456,58456.0,30.63,120.52,6.0,2021.0,3.0,15.0,2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.4,35.20,28.7
12589,58458,58458.0,30.53,120.90,4.8,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.2,25.50,21.4
12591,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.8

# 4、pandas中寻找重复series

In [7]:
col_names = ['line','pos','lat','lon','obtb','bmotb','bmombiastb','bmobiastb','surfheight','surftype','effecfrac']

inno_file = './data/2019060109/innotbinno_fy3damb201906010900.dat'
inno_scatt_file  = './data/2019060109/innotbinno_fy3damb201906010900.dat_scatt'
inno_direct_file = './data/2019060109/innotbinno_fy3damb201906010900.dat_direct'

df = rgs.ReadInnoTB(inno_file, [i for i in col_names if i != 'effecfrac'])
df_scatt = rgs.ReadInnoTB(inno_scatt_file, col_names)
df_direct = rgs.ReadInnoTB(inno_direct_file, col_names)

print(df.info())
print(df_scatt.info())
print(df_direct.info())

current Function [ReadInnoTB] run time is 0.08 seconds
current Function [ReadInnoTB] run time is 0.08 seconds
current Function [ReadInnoTB] run time is 0.06 seconds
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       608 non-null    int64
 1   line        608 non-null    int64
 2   pos         608 non-null    int64
 3   lat         608 non-null    float64
 4   lon         608 non-null    float64
 5   obtb        608 non-null    float64
 6   bmombiastb  608 non-null    float64
 7   surfheight  608 non-null    float64
 8   surftype    608 non-null    float64
 9   ombtb       608 non-null    float64
 10  biastb      608 non-null    float64
 11  ombmbiastb  608 non-null    float64
 12  xbtb        608 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 61.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       2955 non-null   int64
 1   line        2955 non-null   int64
 2   pos         2955 non-null   int64
 3   lat         2955 non-null   float64
 4   lon         2955 non-null   float64
 5   obtb        2955 non-null   float64
 6   bmombiastb  2955 non-null   float64
 7   surfheight  2955 non-null   float64
 8   surftype    2955 non-null   float64
 9   effecfrac   2955 non-null   float64
 10  ombtb       2955 non-null   float64
 11  biastb      2955 non-null   float64
 12  ombmbiastb  2955 non-null   float64
 13  xbtb        2955 non-null   float64
dtypes: float64(11), int64(3)
memory usage: 323.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       2955 non-null   int64
 1   line        2955 non-null   int64
 2   pos         2955 non-null   int64
 3   lat         2955 non-null   float64
 4   lon         2955 non-null   float64
 5   obtb        2955 non-null   float64
 6   bmombiastb  2955 non-null   float64
 7   surfheight  2955 non-null   float64
 8   surftype    2955 non-null   float64
 9   effecfrac   2955 non-null   float64
 10  ombtb       2955 non-null   float64
 11  biastb      2955 non-null   float64
 12  ombmbiastb  2955 non-null   float64
 13  xbtb        2955 non-null   float64
dtypes: float64(11), int64(3)
memory usage: 323.3 KB
None

In [6]:
# df_direct_sel = df_direct.drop('effecfrac',axis=1)

data1= pd.concat([df, df_direct_sel], axis=0)
result1 = result.drop_duplicates(subset=['ichan','line','pos','lat','lon','obtb'], keep='first')
result1

NameError: name 'df' is not defined

In [ ]:
data1 = result[result.duplicated(subset=['ichan','line','pos','lat','lon','obtb'], keep='first')]
data1

# pandas合并

In [5]:
df1 = pd.DataFrame({'A':['A1','A2'],'B':['B1','B2']})
df2 = pd.DataFrame({'A':['A3','A4'],'B':['B3','B4']})
df1
df2
print(pd.concat([df1,df2]))

    A   B
0  A1  B1
1  A2  B2
0  A3  B3
1  A4  B4

# 5、pandas数据格式转换

In [14]:
import pandas as pd

infile = './data/error2106.txt'

col_names = ['typhoon_code','yyyy','mn','dd','hh','fcst','obs_lon','obs_lat','obs_pres','obs_wspd',
             'fcst_lon','fcst_lat','fcst_pres','fcst_wspd','err_dir','err_pres','err_wspd','aa1','aa2']
df  = pd.read_csv(infile,  sep='\s+', names=col_names)



#  数据转换加补充0位
df['yyyy'] = df['yyyy'].astype('str')
for ivar in ['mn','dd','hh']:
    df[ivar] = df[ivar].apply(lambda x : '{:0>2d}'.format(x)).astype('str')
df['ddate'] = df['yyyy']+df['mn']+df['dd']+df['hh']

print(df)

,typhoon_code,yyyy,mn,dd,hh,fcst,obs_lon,obs_lat,obs_pres,obs_wspd,fcst_lon,fcst_lat,fcst_pres,fcst_wspd,err_dir,err_pres,err_wspd,aa1,aa2,ddate
0,2106,2021,07,17,12,6,132.5,22.2,998.0,18.0,131.42,22.41,1000.26,15.45,113.54,2.26,-2.55,-111.11,-23.33,2021071712
1,2106,2021,07,17,12,12,132.4,22.5,998.0,18.0,131.90,22.69,1000.66,15.79,55.51,2.66,-2.21,35.32,-42.83,2021071712
2,2106,2021,07,17,12,18,132.3,22.7,995.0,20.0,131.25,23.04,999.14,16.15,114.03,4.14,-3.85,79.41,-81.84,2021071712
3,2106,2021,07,17,12,24,132.2,23.3,995.0,20.0,131.36,23.16,1000.97,16.07,87.23,5.97,-3.93,-2.35,-87.20,2021071712
4,2106,2021,07,17,12,30,131.9,23.5,990.0,23.0,131.29,23.43,999.43,15.03,62.71,9.43,-7.97,45.78,-42.85,2021071712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,2106,2021,07,29,12,6,117.6,38.5,988.0,15.0,117.23,37.82,991.69,10.57,82.24,3.69,-4.43,-78.83,-23.45,2021072912
601,2106,2021,07,29,12,12,118.2,38.8,988.0,15.0,118.16,38.66,992.39,9.82,15.95,4.39,-5.18,-11.30,11.25,2021072912
602,2106,2021,07,29,12,18,118.7,38.4,988.0,15.0,118.85,38.39,992.18,8.74,13.12,4.18,-6.26,9.92,-8.59,2021072912
603,2106,2021,07,30,00,0,118.2,38.8,988.0,15.0,118.16,39.02,992.61,8.20,24.71,4.61,-6.80,-3.47,-24.46,2021073000
604,2106,2021,07,30,00,6,118.7,38.4,988.0,15.0,118.65,39.16,992.25,8.53,84.62,4.25,-6.47,-63.57,-55.85,2021073000

## 6、RES_SOUND数据处理

In [2]:
import pandas as pd

ddate  = '202308311200' # yyyymnddhhmm
infile = './data/RET_SOUND/20230831/20230831120000-20230831120000.TXT'

df = pd.read_csv(infile, sep=',')

# df
df_StaId = df.drop_duplicates(subset=['Station_id_C'], keep='first', inplace=False)['Station_id_C']
print(df_StaId)

df_StaId = df['Station_id_C'].unique()
print(df_StaId)

# AF_file = 'TEMP202308311200'
# with open(AF_file, 'w') as fili:
#     fili.write('  observation type:     TEMP\n')
#     fili.write('   observation date:{:>8s}{:>4s}{:>4s}{:>4s}\n'.format(ddate[0:4],ddate[4:6],ddate[6:8],ddate[8:10]))
#     fili.write('   index identifier latitude longitude time(hh-mm) levels  elevation ps p u v phi T rh\n')

# for inn, sta_id in enumerate(df_StaId, 1):
sta_id = 59316
df_sel = df[df['Station_id_C'] == sta_id]

# print(df_sel)
df_sel['res'] = df_sel['PRS_HWC'].diff(periods=1).shift(-1)

print(f'{sta_id},上升段')
result = df_sel[df_sel['res'] > 0]
print(result[['PRS_HWC','GPH','Elev','TEM','RHU']])

df_sel['res'] = df_sel['GPH'].diff(periods=1).shift(-1)
print(f'{sta_id},下降段')
result = df_sel[df_sel['res'] < 0]
print(result[['PRS_HWC','GPH','Elev','TEM','RHU']])

0        59280
4600     59293
8837     59316
15057    59663
Name: Station_id_C, dtype: int64
[59280 59293 59316 59663]
59316,上升段
       PRS_HWC    GPH     Elev      TEM  RHU
8838    1001.0      2   0.0499  26.2800   95
11997     91.1  17236  19.4800 -76.3099   65
11999     91.1  17239  19.4800 -76.3099   65
12003     91.0  17242  19.4800 -76.3199   65
12005     91.0  17242  19.4800 -76.3199   65
...        ...    ...      ...      ...  ...
15051    884.7   1099   0.0000  20.0300  100
15052    885.1   1097   0.0000  20.1200  100
15053    885.6   1093   0.0000  19.9500  100
15054    886.0   1091   0.0000  20.0600  100
15055    886.4   1086   0.0000  20.2100  100

[2932 rows x 5 columns]
59316,下降段
       PRS_HWC    GPH   Elev      TEM  RHU
8837    1001.8      3   0.03  26.4000   89
11997     91.1  17236  19.48 -76.3099   65
11999     91.1  17239  19.48 -76.3099   65
12003     91.0  17242  19.48 -76.3199   65
12005     91.0  17242  19.48 -76.3199   65
...        ...    ...    ...      ...  ...
15051    884.7   1099   0.00  20.0300  100
15052    885.1   1097   0.00  20.1200  100
15053    885.6   1093   0.00  19.9500  100
15054    886.0   1091   0.00  20.0600  100
15055    886.4   1086   0.00  20.2100  100

[2955 rows x 5 columns]

d:\softwareinstall\Anaconda3\envs\env_py37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
d:\softwareinstall\Anaconda3\envs\env_py37\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 双层索引

In [20]:
import chardet
import pandas as pd

infile = './data/complex_index.xlsx'

df = pd.read_excel(infile, index_col=[0,1], header=[0,1])

df.columns.names = ['早夜','指标']
# print(encoding)

早夜              白天                 夜间
指标            最高温度 天气状况     分力方向 最高温度 天气状况     分力方向
城市 日期
博罗 2019-07-05   32   阵雨  西南风3-4级   25   阵雨    无持续风向
   2019-07-04   32   阵雨    无持续风向   22   中雨   南风3-4级
   2019-07-03   28   中雨    无持续风向   23   小雨    无持续风向
珠海 2019-07-05   33   多云   东风3-4级   27   多云  西南风3-4级
   2019-07-04   34   小雨  东南风3-4级   26   大雨    无持续风向
   2019-07-03   28   大雨   南风3-4级   28  雷阵雨    无持续风向
中山 2019-07-05   31   阵雨    无持续风向   23   小雨   东风3-4级
   2019-07-04   30   中雨  东南风3-4级   23   多云    无持续风向
   2019-07-03   29   小雨   东风3-4级   21   中雨   东风3-4级

In [25]:
df.loc[u'珠海','白天']

指标          最高温度 天气状况     分力方向
日期
2019-07-05    33   多云   东风3-4级
2019-07-04    34   小雨  东南风3-4级
2019-07-03    28   大雨   南风3-4级